.curio
{
  position:fixed;
  bottom:0;
  right:0;
  width:350px;
  background-color:#0ac2d2;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index:1000;
  font-family:verdana,helvetica,arial,sans-serif;
  color:white;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: -4px 3px 13px #6E7680;
  opacity: 0.9;
  padding: 20px;
}

.option {
  text-align: center;
  color: #333;
  font-size: 17px;
  font-weight: bold;
}

#curio_question {
  font-size: 17px;
  line-height: 1;
  letter-spacing: 2px;
  color: #333;
  border: none;
  text-transform: uppercase;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
}

#curio_title
{
  text-align:center;
  font-family: Calibri;
}

#q2_last_time {
  font-family: Calibri;
  text-align: center;
  font-size: 16px;
}

#question2 {
  font-family: Calibri;
  text-align: center;
  color: #333;
  font-size: 16;
  font-size: 17px;
  font-weight: bold;
}

#curio_answer {
  text-align: center;
  font-family: Calibri;
  font-size: 16px;
  font-style: italic;
}

#curio_answerarea {
  text-align: center;
  font-family: Calibri;
  font-size: 16px;
}

textarea#curio_textarea {
  width: 300px;
  height: 100px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  background-position: bottom right;
  background-repeat: no-repeat;
  font-family: Calibri;
}

.curio_btn {
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  color: #555;
  background: #fff;
  box-shadow: 0 3px 0 rgba(0,0,0,0.1);

  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
}
